.team_background{
  min-height: 100vh;
  background:
      linear-gradient(#2EB62C, transparent),
      linear-gradient(to top left, #57C84D, transparent),
      linear-gradient(to top right, #C5E8B7, transparent);
  background-blend-mode: screen;
  font-family: 'Ubuntu', sans-serif;
}

.team-card {
    width: 20rem;
    margin-right: 5rem;
    transition: margin-right 0.5s;
  }

.player-card {
    width: 13rem;
    margin-right: 1rem;
    transition: margin-right 0.5s;
  }
  .center {
    margin: auto;
    text-align: center;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
  }