body{
  background-color: #fbeec1;
  flex-direction: column;
  display:flex;    
  height: 100vh;
}

section {
  scroll-snap-align: center;
}

html{
  height: 100%;
}

#map {
  height: 500px;
  border-radius: 30px;
}