.team_background{
    min-height: 100vh;
    background:
        linear-gradient(#33ccff, transparent),
        linear-gradient(to top left, #33ccff, transparent),
        linear-gradient(to top right, #ff99cc, transparent);
    background-blend-mode: screen;
    font-family: 'Ubuntu', sans-serif;
  }

  thead tr {
    border-bottom: 3px solid black;
  }
  
  img.mb-5 {
    width: 50%;
    height: auto;
  }