.visual-background{
    text-align: center;
    min-height: 100vh;
    background:
        linear-gradient(#E1FF7E, transparent),
        linear-gradient(to top left, #FF9D00, transparent),
        linear-gradient(to top right, #E58F52, transparent);
    background-blend-mode: screen;
    font-family: 'Ubuntu', sans-serif;
  }
  